.scrollable {
  scrollbar-width: thin;
  scrollbar-color: var(--mantine-color-gray-4) transparent;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-4);
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: var(--mantine-color-gray-5);
}
